USE [master]
GO
/****** Object:  Database [movie]    Script Date: 31.05.2025 18:59:17 ******/
CREATE DATABASE [movie]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'movie', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\movie.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'movie_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\movie_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [movie].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [movie]
GO
/****** Object:  Table [dbo].[buy_tickets]    Script Date: 31.05.2025 18:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buy_tickets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[movie_id] [int] NULL,
	[quantity] [int] NULL,
	[price] [decimal](10, 2) NULL,
	[status] [nvarchar](20) NULL,
	[seat_number] [int] NULL,
	[amount] [decimal](10, 2) NULL,
	[change] [decimal](10, 2) NULL,
	[created_at] [datetime] NULL,
	[salon_id] [int] NULL,
	[SeansID] [int] NULL,
	[seans_saat] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movie]    Script Date: 31.05.2025 18:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[movie_id] [nvarchar](50) NULL,
	[movie_name] [nvarchar](100) NULL,
	[genre] [nvarchar](50) NULL,
	[price] [nvarchar](20) NULL,
	[capacity] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[movie_image] [nvarchar](255) NULL,
	[created_at] [nvarchar](50) NULL,
	[delete_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[salon_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salons]    Script Date: 31.05.2025 18:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salons](
	[SalonID] [int] IDENTITY(1,1) NOT NULL,
	[SalonAdi] [nvarchar](100) NOT NULL,
	[Kapasite] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SalonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seanslar]    Script Date: 31.05.2025 18:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seanslar](
	[SeansID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[SalonID] [int] NOT NULL,
	[SeansSaati] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SeansID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 31.05.2025 18:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SeatCode] [nvarchar](10) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[SalonId] [int] NULL,
	[SeansID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatStatus]    Script Date: 31.05.2025 18:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SeansID] [int] NOT NULL,
	[SeatID] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 31.05.2025 18:59:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](max) NULL,
	[password] [varchar](max) NULL,
	[role] [varchar](max) NULL,
	[status] [varchar](max) NULL,
	[date_reg] [date] NULL,
	[email] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[buy_tickets] ON 

INSERT [dbo].[buy_tickets] ([id], [user_id], [movie_id], [quantity], [price], [status], [seat_number], [amount], [change], [created_at], [salon_id], [SeansID], [seans_saat]) VALUES (1, NULL, 1, NULL, CAST(15.00 AS Decimal(10, 2)), N'PAID', NULL, CAST(20.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(N'2025-05-25T20:35:41.937' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[buy_tickets] ([id], [user_id], [movie_id], [quantity], [price], [status], [seat_number], [amount], [change], [created_at], [salon_id], [SeansID], [seans_saat]) VALUES (2, NULL, 1, NULL, CAST(15.00 AS Decimal(10, 2)), N'PAID', NULL, CAST(20.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(N'2025-05-25T20:35:42.240' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[buy_tickets] ([id], [user_id], [movie_id], [quantity], [price], [status], [seat_number], [amount], [change], [created_at], [salon_id], [SeansID], [seans_saat]) VALUES (3, NULL, 1, NULL, CAST(15.00 AS Decimal(10, 2)), N'PAID', NULL, CAST(20.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), CAST(N'2025-05-25T20:35:43.550' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[buy_tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[movie] ON 

INSERT [dbo].[movie] ([id], [movie_id], [movie_name], [genre], [price], [capacity], [status], [movie_image], [created_at], [delete_date], [update_date], [salon_id]) VALUES (1, N'1', N'ıssız adam', N'Drama', N'15', N'25', N'Deleted', N'C:\Users\PC\Documents\Movie_Directory\1.jpg', N'May 25 2025  8:27PM', CAST(N'2025-05-25T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[movie] ([id], [movie_id], [movie_name], [genre], [price], [capacity], [status], [movie_image], [created_at], [delete_date], [update_date], [salon_id]) VALUES (2, N'2', N'prens', N'Comedy', N'15', N'25', N'Deleted', N'C:\Users\PC\Documents\Movie_Directory\2.jpg', N'May 25 2025  8:34PM', CAST(N'2025-05-26T00:00:00.000' AS DateTime), NULL, 2)
INSERT [dbo].[movie] ([id], [movie_id], [movie_name], [genre], [price], [capacity], [status], [movie_image], [created_at], [delete_date], [update_date], [salon_id]) VALUES (3, N'3', N'esaretin bedeli', N'Drama', N'15', N'25', N'Deleted', N'C:\Users\PC\Documents\Movie_Directory\3.jpg', N'May 25 2025 10:40PM', CAST(N'2025-05-25T00:00:00.000' AS DateTime), NULL, 3)
SET IDENTITY_INSERT [dbo].[movie] OFF
GO
SET IDENTITY_INSERT [dbo].[Salons] ON 

INSERT [dbo].[Salons] ([SalonID], [SalonAdi], [Kapasite], [Status]) VALUES (1, N'1', 36, N'Available')
INSERT [dbo].[Salons] ([SalonID], [SalonAdi], [Kapasite], [Status]) VALUES (2, N'2', 36, N'Unavailable')
INSERT [dbo].[Salons] ([SalonID], [SalonAdi], [Kapasite], [Status]) VALUES (3, N'3', 36, N'Unavailable')
SET IDENTITY_INSERT [dbo].[Salons] OFF
GO
SET IDENTITY_INSERT [dbo].[Seanslar] ON 

INSERT [dbo].[Seanslar] ([SeansID], [MovieID], [SalonID], [SeansSaati]) VALUES (1, 9, 1, CAST(N'11:20:00' AS Time))
INSERT [dbo].[Seanslar] ([SeansID], [MovieID], [SalonID], [SeansSaati]) VALUES (2, 9, 1, CAST(N'15:30:00' AS Time))
INSERT [dbo].[Seanslar] ([SeansID], [MovieID], [SalonID], [SeansSaati]) VALUES (3, 10, 2, CAST(N'16:30:00' AS Time))
SET IDENTITY_INSERT [dbo].[Seanslar] OFF
GO
SET IDENTITY_INSERT [dbo].[Seats] ON 

INSERT [dbo].[Seats] ([Id], [SeatCode], [Status], [SalonId], [SeansID]) VALUES (1, N'A6', N'Boş', 1, NULL)
INSERT [dbo].[Seats] ([Id], [SeatCode], [Status], [SalonId], [SeansID]) VALUES (2, N'A6', N'Boş', 2, NULL)
INSERT [dbo].[Seats] ([Id], [SeatCode], [Status], [SalonId], [SeansID]) VALUES (3, N'A1', N'Boş', 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[Seats] OFF
GO
SET IDENTITY_INSERT [dbo].[SeatStatus] ON 

INSERT [dbo].[SeatStatus] ([ID], [SeansID], [SeatID], [Status]) VALUES (1, 1, 1, N'Boş')
INSERT [dbo].[SeatStatus] ([ID], [SeansID], [SeatID], [Status]) VALUES (2, 1, 2, N'Boş')
INSERT [dbo].[SeatStatus] ([ID], [SeansID], [SeatID], [Status]) VALUES (3, 1, 3, N'Boş')
GO
SET IDENTITY_INSERT [dbo].[SeatStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [role], [status], [date_reg], [email]) VALUES (1, N'admin', N'admin123', N'Admin', N'Active', CAST(N'2024-05-16' AS Date), NULL)
INSERT [dbo].[users] ([id], [username], [password], [role], [status], [date_reg], [email]) VALUES (2, N'gizem', N'gizem123', N'Staff', N'Active', CAST(N'2025-05-25' AS Date), NULL)
INSERT [dbo].[users] ([id], [username], [password], [role], [status], [date_reg], [email]) VALUES (3, N'vera', N'vera123', N'Staff', N'Active', CAST(N'2025-05-28' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[Salons] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[buy_tickets]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[buy_tickets]  WITH CHECK ADD  CONSTRAINT [FK_buy_tickets_movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[movie] ([id])
GO
ALTER TABLE [dbo].[buy_tickets] CHECK CONSTRAINT [FK_buy_tickets_movie]
GO
ALTER TABLE [dbo].[buy_tickets]  WITH CHECK ADD  CONSTRAINT [FK_BuyTickets_Seans] FOREIGN KEY([SeansID])
REFERENCES [dbo].[Seanslar] ([SeansID])
GO
ALTER TABLE [dbo].[buy_tickets] CHECK CONSTRAINT [FK_BuyTickets_Seans]
GO
ALTER TABLE [dbo].[Seanslar]  WITH CHECK ADD  CONSTRAINT [FK_Seans_Movie] FOREIGN KEY([MovieID])
REFERENCES [dbo].[movie] ([id])
GO
ALTER TABLE [dbo].[Seanslar] CHECK CONSTRAINT [FK_Seans_Movie]
GO
ALTER TABLE [dbo].[Seanslar]  WITH CHECK ADD  CONSTRAINT [FK_Seans_Salon] FOREIGN KEY([SalonID])
REFERENCES [dbo].[Salons] ([SalonID])
GO
ALTER TABLE [dbo].[Seanslar] CHECK CONSTRAINT [FK_Seans_Salon]
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD FOREIGN KEY([SeansID])
REFERENCES [dbo].[Seanslar] ([SeansID])
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD  CONSTRAINT [FK_Seats_Salons] FOREIGN KEY([SalonId])
REFERENCES [dbo].[Salons] ([SalonID])
GO
ALTER TABLE [dbo].[Seats] CHECK CONSTRAINT [FK_Seats_Salons]
GO
ALTER TABLE [dbo].[SeatStatus]  WITH CHECK ADD FOREIGN KEY([SeansID])
REFERENCES [dbo].[Seanslar] ([SeansID])
GO
ALTER TABLE [dbo].[SeatStatus]  WITH CHECK ADD FOREIGN KEY([SeatID])
REFERENCES [dbo].[Seats] ([Id])
GO
USE [master]
GO
